<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Registration for new users">
        <meta name="author" content="Kameswaran Ganesh">
        
        <title>Security Tutorial - Home</title>
        
        <!-- Bootstrap core CSS -->
        <link href="/webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
        <!-- Custom css -->
        <link href="css/main.css" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" href="link to prob statement">Security Tutorial</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
        
              <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">by Kameswaran Ganesh <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="to github">this.Github</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="to github">my.LinkedIn</a>
                  </li>
                </ul>
                <span class="text-white my-2 my-sm-0 mx-1" th:text="|Logged in as, ${user.getName()}|"></span>
                <form method="POST" th:action="@{/logout}">
                    <button type="submit" class="btn btn-primary my-2 my-sm-0 mx-1">Logout</button>
                </form>
              </div>
            </div>
        </nav>
        
        <!-- Content -->
        <div class="container">
        </div>
        
        <!-- Bootstrap js -->
        <script src="webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <!-- jQuery -->
        <script src="webjars/jquery/3.4.1/jquery.slim.min.js"></script>
        <!-- Custom js -->
        <script src="js/main.js"></script>
    </body>
</html>